/* 1st Section */
.mission-wrapper {
  width: 100%;
  padding: 70px 0;
}
.mission-container {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  color: white;

}
.mission-container h3 {
  color: #C10000;
  margin: 5px 0 25px;
}
.mission-container p {
  margin: 10px 0;
  color: black;
}
.mission-container img {
  width: 70px;
}

/* 2nd Section */
.executive-team-wrapper {
  width: 100%;
  background-color: white;
}
.executive-team-container {
  width: 85%;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}
.executive-team-container h2 {
  color: #C10000;
  margin: 0 0 15px;
}
.team-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 0;

}
.executive-member-container {
  margin: 25px;
  display: inline-block;
}
.our-team{
    text-align: center;
    padding: 20px 5px;
    background: #1D376D;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 auto;
    width: 220px;
}
.our-team .pic{
    background: #fff;
    margin: 0 auto;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}
.pic img{
    width: 144px;
    height: 144px;
    border-radius: 50%;
}
.our-team .title{
    color: white;
    text-transform: uppercase;
    display: block;
    margin: 15px auto 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}
.our-team .post{
    color: white;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-top: 5px;
}
.executives-socials {
  margin: 15px 0 0;
  height: 40px
}
.executives-socials a {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.executives-socials img {
  width: 35px;
  height: 35px;
  margin: 0 auto;
}
.executive-team-container hr {
  width: 100%;
  margin: 0 auto 20px;
}


@media only screen and (min-width: 1100px) {
  .mission-container, .executive-team-container {
    width: 65%;
  }
}
