
.section-wrapper {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
}
.text-wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  color: white;
}
.text-wrapper p {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  margin: 10px 0;
}
.text-wrapper h1 {
  margin: 20px 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
}
.mission-background{
  width: 100%;
  background-image: url(../images/backgrounds/background_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.executive-team-background {
  width: 100%;
  background-color: white;
}
.team-section {
  display: table;
  width: 100%;
  margin: 0;
  text-align: center;
}
.wrapper-executive-member {
  margin: 5px 0;
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
}
.our-team{
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    background: #fff;
    margin: 0 auto;

}
.our-team .pic{
    background: #fff;
    margin: 0 auto;
    display: inline-block;
    width: 200px;
    height: 200px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 15px auto 5px;
    padding: 0;
}
.our-team .post{
    color: #17bebb;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-top: 10px
}

.executives-socials {
  margin: 15px 0;
  height: 40px
}
.executives-socials a {
  display: inline-block;
  width: 45px;
  height: 40px;
}
.executives-socials img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
