
/* 1st Section */
.events-wrapper {
  width: 100%;
}
.events-container {
  margin: 0 auto;
  padding: 70px 0;
  width: 85%;
  text-align: left;
}
.events-container h3 {
  color: #C10000;
  margin: 5px 0 25px;
}
.events-container img {
  width: 70px;
}

/* 2nd Section */
.calendar-wrapper {
  width: 100%;
  text-align: center;
}
.calendar-container {
  margin: 0 auto;
  padding: 15px 0;
  width: 85%;
}
.calendar-container h1 {
  color: black;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion-wrapper {
  display: inline-block;
  margin: 70px 0;
  width: 100%
}
.accordion-container {
  width: 85%;
  margin: 0 auto;
}
.accordion {
  background: #1D376D;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 18px 25px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #1D376D;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  border-radius: 40px 40px 0 0;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  border-radius: 40px;
  padding: 0 25px;
  margin: 0 auto;
  background: lightgrey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  color: black;
  font-size: 18px;
  margin: 25px 0;
  text-align: left;
}


@media only screen and (min-width: 1100px) {
  .events-container, .calendar-container, .accordion-container {
    width: 65%;
  }
}
