.sign-up-page-background {
  width: 100%;
  background-image: url(../images/backgrounds/background_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sign-up-page-wrapper {
  width: 100%;
  padding: 70px 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.sign-up-page-container {
  width: 85%;
  margin: 0 auto;
}
.membership {
  border-radius: 40px;
  text-align: center;
  padding: 25px 20px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);

}
.membership h3 {
  color: #C10000;
  margin: 0;
  margin-bottom: 20px;
}
.membership p {
  margin-bottom: 15px;
}
.purchase-button {
  margin: 0;
  margin: 0;
  border-radius: 50px;
  width: 180px;
  height: 40px;
  margin-top: 15px;
  background-color: #C10000;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
  border: none;
  text-align: center;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.membership-info {
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  padding: 35px;
  border-radius: 40px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.membership-info h3 {
  color: #C10000;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.membership-info ul {
  text-align: center;
  list-style: none;
  padding: 0;
}
.membership-info li {
  font-size: 20px;
}
.membership-info h5 {
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
}

@media only screen and (min-width: 1100px) {
  .sign-up-page-container {
    width: 65%;
  }
}

@media only screen and (min-width: 650px) {
  .membership {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .membership-info {
    width: 600px;
  }
}
